{% extends "base.html" %}

{% block content %}
  <h1>{{ fair.name }}</h1>
  <p>{{ fair.about }}</p>
  <p>Start Date: {{ fair['start_at'] }}</p>
  <p>End Date: {{ fair['end_at'] }}</p>
  
  <h2>Participating Galleries</h2>
  {% for gallery in galleries %}
    <div class="gallery">
      <h3><a href="/galleries/{{ gallery['id'] }}">{{ gallery['name'] }}</a></h3>

      <!--      <a href="/galleries/{{ gallery['id'] }}">
        <img src="{{ gallery['_links']['images']['href'] }}" alt="{{ gallery['name'] }}">
        </a>
      -->
  
    </div>
  {% endfor %}
{% endblock %}

