{% extends 'base.html' %}
{% block content %}
<h1>Upcoming Art Fairs</h1>
  
  {% for fair in fairs %}
    <div class="fair">
      <h2><a href="/fairs/{{ fair['id'] }}">{{ fair['name'] }}</a></h2>
      <p>{{ fair['about'] }}</p>
      <p>Start Date: {{ fair['start_at'] }}</p>
      <p>End Date: {{ fair['end_at'] }}</p>
    </div>
  {% endfor %}
{% endblock %}



<!-- 
  test out different date format:
  <p>{{ fair.start_date.strftime('%B %d') }} - {{ fair.end_date.strftime('%B %d, %Y') }}</p>  
-->


