{% extends "base.html" %}

{% block content %}
  <h1>{{ show['_links']['partner']['name'] }}</h1>
  <p>{{ show.name }}</p>
  
  <h2>Artworks</h2>
  {% if artworks %}
    <div class="artworks">
      {% for artwork in artworks %}
        <div class="artwork">
          <h3>{{ artwork.title }}</h3>
          {% if artwork.images %}
            <img src="{{ artwork.images[0].image_url }}" alt="{{ artwork.title }}">
          {% else %}
            <p>No image available</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No artworks found for the show.</p>
  {% endif %}
{% endblock %}
